[Unit]
Description=WorkTimeTracker RFID Service
After=default.target

[Service]
ExecStart=/usr/bin/java -jar /home/mike/timetracker/timetracker-rfid.jar
WorkingDirectory=/home/mike/timetracker
Restart=always
RestartSec=5
StandardInput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=default.target