[Unit]
Description=WorkTimeTracker Web User Interface
After=network.target

[Service]
User=mike
ExecStart=sudo /usr/bin/java -jar /home/mike/timetracker/timetracker-ui.jar
Restart=always

[Install]
WantedBy=multi-user.target