[Unit]
Description=WorkTimeTracker Web User Interface
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /home/mike/timetracker/timetracker-ui.jar
Restart=always

[Install]
WantedBy=default.target